:root {
    --partbg: antiquewhite;
}
  
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--partbg);
}

.part{
    width: 75vw;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}


.partname {
    display: flex;
    margin-top: 50px;
    position: relative;
}
  
.partname hr {
    height: 1px;
    width: 50vw;
    background-color: black;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.partname p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--partbg);
    padding: 0 1vw;
    font-size: clamp(20px, 1.75vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
}

button{
    padding: 1.5vh 1.5vw;
    border-radius: 20px;
    border: 2px solid red;
    font-size: clamp(10px, 1vw, 25px);
    width: 8.5vw;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -30%);
}

button:hover {
    filter: drop-shadow(0.2vh 0.2vw 1px red);
    margin-top: 0.5vh;
    font-weight: bolder;
}

.description{
    width: 60vw;
    margin: 50px auto 10px auto;
    line-height: 1.5;
    font-size: clamp(15px, 1.2vw, 25px);
    display: flex;
    padding-bottom: 50px;
}

ul li::marker {
    color: red;
}

ul li {
    margin-left: 30px;
}

.description_container{
    width: 50%;
}

.description_content{
    margin-right: 7%;
}

.description_img{
    width: 40%;
}

.description_img img{
    border: 2px solid black;
}

.list_part{
    display: flex;
    padding-bottom: 50px;
}

.list_img{
    z-index: 2;
}

.list_img img{
    z-index: 2;
    max-width: 30vw;
    border: 2px solid black;
} 

.list_container{   
    z-index: 2;
}

div.list_content{
    background-color: aliceblue;
    padding: 30px;
    box-shadow: 0px 0px 25px gray;  
    z-index: 3;
    position: relative;
    width: 40vw;
}

.number{
    font-size: clamp(40px, 4vw, 100px);
    font-weight: 1000;
    color: grey;
    margin: 1vw 0 0 0;
}

.one{
    display: flex;
    justify-content: end;
}

img.img2{
    z-index: 2;
    position: relative;
}

.lc1{
    border-bottom-right-radius: 32px;
}

.lc2{
    border-bottom-left-radius: 32px;
}

.view{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 25px;
}

