:root {
    --partbg: antiquewhite;
}
  
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--partbg);
    position: relative;
}

.part{
    width: 75vw;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}


.partname {
    display: flex;
    margin-top: 50px;
    position: relative;
}
  
.partname hr {
    height: 1px;
    width: 50vw;
    background-color: black;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.partname p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--partbg);
    padding: 0 1vw;
    font-size: clamp(20px, 1.75vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
}


.gallery{
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
}

.gallery img {
    border-radius: 16px;
    border: 2px solid black;
    width: 100%;
}

.img_item{
    text-align: center;
    width: 40%;
}

.gallery a{
    font-size: clamp(20px, 1.2vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
    margin: auto;
    padding: 3px;
    color: black;
}

.name_img{
    z-index: 100;
    bottom: 0%;
}

.disease{
    margin: 7vh 0 0 0 ;
    display: flex;
    flex-direction: row;
}

.plant{
    position: relative;
}

.plant_name{
    font-size: clamp(24px, 2vw, 35px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    backdrop-filter: blur(100px);
    font-weight: bolder;
    width: 25vw;
    text-align: center;
    line-height: 1.5;
    border: 1px solid black;
}

.disease_name{
    flex: 6;
    display: flex;
    width: 30vw;
    font-size: clamp(12px, 1.2vw, 30px);
    position: relative;
}

.left_left{
    flex: 1;
    padding-left: 25px;
    background-color: aliceblue;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.left_right{
    flex: 1;
    padding-left: 25px;
    background-color: aliceblue;
}

.right_left{
    flex: 1;
    padding-left: 25px;
    background-color: aliceblue;
}

.right_right{
    flex: 1;
    padding-right: 25px;
    background-color: aliceblue;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

.disease_items{
    padding-top: 3vh;
}

.disease_img{
    width: 25vw;
    flex: 4;
    border: 2px solid black;
}

img.left{
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

img.right{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

p.left{
    border-bottom-right-radius: 32px;
}

p.right{
    border-bottom-left-radius: 32px;
}

.disease ul {
    list-style-type: none; /* Loại bỏ các dấu đầu dòng mặc định */
}
  
.disease ul li:before {
    content: "- "; /* Thêm dấu gạch ngang trước mỗi mục */
}

li {
    text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    color: inherit; /* Giữ nguyên màu chữ mặc định */
    line-height: 3;

}

li:hover{
    font-size: clamp(15px, calc(1.2vw + 3px), 35px);
    font-weight: bolder;
}

button{
    padding: 1.5vh 1.5vw;
    border-radius: 20px;
    border: 2px solid red;
    font-size: clamp(10px, 1vw, 25px);
    width: 8.5vw;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -30%);
}

button:hover {
    filter: drop-shadow(0.2vh 0.2vw 1px red);
    margin-top: 0.5vh;
    font-weight: bolder;
}

.overlay {
    position: fixed;
    top: 64vx;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    margin: auto;
}

/* .content {
    background-color: #fff;
    padding: 20px;
} */


.showmore{
    position: absolute;
    background-color: aqua;
    width: 80vw;
    z-index: 99999;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 8px;
    border-radius: 16px;
}

.corn, .tomato{
    display: flex;
}
.showmore img{
    width: 30vw;
}

img.close {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 0;
    right: 0;
}

.show_part p{
    text-align: center;
}

.right_p{
    padding: 0 20px;
}

.sc{
    display: flex;
    margin-bottom: 30px;
}

.sc div{
    margin: 0 40px;
    line-height: 2;
}

p.d_name{
    width: calc(40vw - 40px);
}